<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
      EXAMPLES
      <add key="Ahab.CachePath" value="{userprofile}" /> ** Default
      <add key="Ahab.CachePath" value="{exe}" />
      <add key="Ahab.CachePath" value="..\relative\path" />
      <add key="Ahab.CachePath" value="c:\absolute\path" />
    -->
  </appSettings>
</configuration>